.conteudo {
    background-color: whitesmoke;
    width: 100%;
    height: 450px;
    float: left;
}
.row {
    
    width: 75%;
    margin: 0 auto;
}

.col { 
    
    width: 50%;
    float: left;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #1A237A;
    padding-top: 15px;
    font-size: 22px;

}
input[type=email], input[type=text], input[type=tel] {
    border: 1px solid #ccc;
    border-width: 1px;
    border-radius: 15px;
    color: black;
    padding: 10px 20px;
    margin-top:10px;
    margin-right: 25px;
  }
.ucol {
    border: 1px solid #ccc;
    border-width: 1px;
    border-radius: 15px;
    color: black;
    padding: 10px 20px;
    margin-top:10px;
    margin-right: 25px;
}
.address{
    width: 96%;
    border: 1px solid #ccc;
    border-width: 1px;
    border-radius: 15px;
    color: black;
    padding: 10px 20px;
    margin-top:10px;
    margin-right: 25px;
}
.address2{
    width: 90%;
}
.sized {
    width: 30%;
    border: 1px solid #ccc;
    border-width: 1px;
    border-radius: 15px;
    color: black;
    padding: 10px 25px;
    margin-top:10px;
    margin-right: 16px;
} 
.sized2 {
    width: 28%;
    border: 1px solid #ccc;
    border-width: 1px;
    border-radius: 15px;
    color: black;
    padding: 10px 25px;
    margin-top:10px;
    margin-right: 16px;
} 

input[type=submit] {
    margin-top: 65px;
    margin-left: 724px;
    width: 250px;
    padding: 10px 20px;
    background-color:  #1A237A;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

label {
display: inline-block;
cursor: pointer;
font-size: 12px;
width: 210px;
padding: 10px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
}
input[type='checkbox']{
    width: 26px;
    height: 26px;
    border-width: 1px;
    border-radius: 15px;
}

input[type="checkbox"]::before {
    content: "";
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  input[type="checkbox"]:checked::after {
    content: " ";
    width: 7px;
    height: 14px;
    margin-top: 2px;
    margin-left: 9px;
    border-color: #1A237A;
    border-style: solid;
    border-width: 0 3px 3px 0;
    position: absolute;
    transform: rotate(45deg);
  }